.flex-container{
  display: inline-flex;
  flex-flow: row wrap;
  height: 200px;
  width: 120px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin:5px;
  background-color:SEASHELL;
  
}
.flex-container.stretch{align-content: stretch;}
.flex-container.flex-start{align-content: flex-start;}
.flex-container.flex-end{align-content: flex-end;}
.flex-container.center{align-content: center;}
.flex-container.space-around{align-content: space-around;}
.flex-container.space-between{align-content: space-between;}
.flex-container.space-evenly{align-content: space-evenly;}

.flex-item{
  width: 50px;
  height: 30px;
  margin: 5px;
  color: white;
  font-size: 22px;
  text-align: center;
}
.color-lightseagreen{
  background-color: lightseagreen;
}
.color-red{
  background-color: darksalmon;
}
.color-blue{
  background-color: dodgerblue;
}
.color-green{
  background-color: forestgreen;
}
.color-yellow{
  background-color: gold;
}
.color-pupple{
  background-color: rebeccapurple;
}
.color-orange{
  background-color: orange;
}