{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  {% load static %}
  <div class="container border border-3 mt-5">
    <h3 class="p-3">NO.{{article.pk}}</h3>
    <div class="container">
      <h5>{{article.title}}</h5>
      <p class="pt-3">{{article.content}}</p>
      {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
      {% endif %}
      <hr>
      <p>만든 날짜:{{article.created_at}}</p>
      <p>수정 날짜:{{article.updated_at}}</p>
      <hr>
      <a class='btn border border-1 border-dark mb-3' href="{% url 'articles:delete' article.pk %}">삭제</a>
      <a class='btn border border-1 border-dark mb-3' href="{% url 'articles:update' article.pk %}">수정</a>
    </div>
    <hr><br>
    <div class="container">
      <h3>댓글</h3>

      <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input type="submit">
      </form>

      <hr>
      {% for comment in comments %}
        <p>{{ comment.content }}</p>
        {% empty %}
        <p>댓글이 없어요 ㅠㅠ</p>
      {% endfor %}
    </div>

  </div>
  {% endblock%}
