{% extends 'base.html' %}
{% block content %}

  <div class="container mt-5 border border-3 border-dark rounded">
    <h1 class="p-3">{{ user.username }}님의 프로필</h1>
    <div class="container">
      <p>{{ user.full_name }}</p>
      <p>{{ user.id }}번</p>
      <p>이메일 :
        {{ user.email }}</p>
      <p>
        가입일 :
        {{ user.date_joined }}
      </p>
      <a href="{% url "accounts:index" %}" class='btn border border-3 border-dark fw-bolder mb-3'>홈으로</a>
    </div>
  </div>

{% endblock %}